* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

body {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1442px;
  margin: 0 auto;
}

/* Estilos base (mobile-first) - para móviles */

.banner {
  display: flex;
  color: black;
  margin: 20px 0 20px 0;
}

.banner a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.header {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://d25ltszcjeom5i.cloudfront.net/48492/eubnwwomuj/header.png ") no-repeat center center/cover;
  filter: grayscale(100%) blur(2px);
}

.header-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #d9d9d900 20%, #ef3340 100%);
}

.header-content {
  position: relative;
  /* top: 10%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 250px; */
  /* padding: 0 10px 0 10px; */
  z-index: 1; /* Aseguramos que el título esté sobre el fondo */
}

.header h1 {
  position: relative;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  z-index: 1;
  padding-bottom: 50px;
}

.header-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1;
}

.header-btn button {
  position: relative;
  /* margin-top: 20px; */
  padding: 10px 20px;
  /* font-size: 1rem; */
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 150px;
  z-index: 1;
}

.button {
  position: relative;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.logos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 147px;
  /* padding-bottom: 20px; */
  /* padding: 0 50px 0 50px; */
  z-index: 1;
}

.logos td {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logos td img {
  width: 40%;
  height: auto;
  object-fit: contain;
}

/* NEWS */
.news tr {
  display: flex;
  flex-direction: column;
}

.news-title {
  display: flex;
  justify-content: center;
}

.news h2 {
  padding: 80px 0 80px 0;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.news-content {
  margin: 0 20px 0 20px;
}

.news-item {
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  width: 100%;
}

.news-image-container {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.news-image-container img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  aspect-ratio: 1/1;
  object-fit: cover;
}

.triangle-logo-red {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 60%;
  background: linear-gradient(to top left, #ef3340 0%, #ffffff00 100%);
  clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
  /* display: flex;
justify-content: center;
align-items: center;
overflow: hidden; */
}

.triangle-logo-red img {
  position: absolute;
  width: 50%;
  height: auto;
  aspect-ratio: 0;
  bottom: 15%;
  right: 5%;
  filter: none;
}

.news-item a {
  display: block;
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0;
  text-decoration: underline;
  text-decoration-style: solid;
  margin: 20px 0 20px 0;
}

/* EVENTS */

/* .events {
  background-color: #ef334010;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.events-table {
  display: flex;
  justify-content: center;
}

.event-title {
  display: flex;
  justify-content: center;
}

.events h2 {
  text-align: center;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 48px;
  line-height: 67.2px;
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 0%;
}

.events-container {
  display: flex;
  gap: 30px;
  padding-top: 50px;
  justify-content: center;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  padding-bottom: 20px;
  width: 100%;
  border: 2px solid #ef3340;
}

.tr-img-container {
  display: flex;
  width: 100%;
}

.event-img-container {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.event-img-container img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
}

.event-img-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(217, 217, 217, 0) 10%, #ef3340 100%);
}

.category {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  color: black;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  padding: 5px 10px;
}

.date-and-location {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.date-and-location img {
  display: flex;
  width: 20px;
  height: 20px;
}

.date,
.location {
  display: flex;
  gap: 5px;
}

.event h3 {
  padding: 0px 20px 0px 20px;
  font-size: 1.5rem;
  width: 100%;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
  letter-spacing: 0%;
}

.event p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0px 20px 0px 20px;
}

.view-event {
  display: flex;
  color: black;
  margin: 20px 20px 0px 20px;
}

.view-event img {
  width: 20px;
  margin: 0 5px 0 0;
  align-items: center;
  object-fit: contain;
}

.ver-evento {
  display: block;
  align-items: start;
  width: 100%;
}

.events .btn {
  margin-top: 50px;
  width: max-content;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  background-color: #ef3340;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.btn img {
  width: 20px;
  margin: 0 5px 0 0;
} */

.events {
  background-color: #ef334010;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.events-table {
  max-width: 481px;
  margin: 20px;
}

.events h2 {
  text-align: center;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 32px;
  padding: 20px 0;
}

.event {
  display: flex;
  flex-direction: column;
  border: solid 2px #ef3340;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.event-table {
  border-collapse: collapse; /* Elimina espacios entre bordes de celdas */
  border-spacing: 0; /* Asegura que no haya espacio entre celdas */
}

.event-img-container {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.event-img-container img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
}

.event-img-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(217, 217, 217, 0) 10%, #ef3340 100%);
}

.category {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  color: black;
  font-weight: 700;
  padding: 5px 10px;
}

.date-and-location {
  display: flex;
  justify-content: start;
  padding: 20px;
  gap: 20px;
}

.date-and-location td {
  display: flex;
  align-items: start;
}

.date-and-location img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.event-table h3 {
  text-align: start;
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
  width: 100%;
}

.view-event {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 20px 0 20px 20px;
}

.view-event img {
  width: 20px;
  margin-left: 5px;
}

.ver-evento {
  text-align: center;
  padding: 40px 0;
}

.ver-evento .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ef3340;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-bottom: 80px;
}

.btn img {
  width: 20px;
  margin-right: 5px;
}

/* OTHER INFO 1 */
.other-info1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.other-info1-table {
}

.other-info1 h2 {
  text-align: start;
  width: 100%;
  font-family: Bodoni 72;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.2px;
  letter-spacing: 0%;
  padding-bottom: 40px;
}

.other-info1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.other-info1 img {
  width: 100%;
  /* padding: 0 20px 0 20px; */
  /* filter: grayscale(100%); */
}

.other-info1-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.other-info1-text a {
  text-decoration: none;
}

.other-info1-text .btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  background-color: #ef3340;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  width: max-content;
}

.other-info1-text .btn img {
  width: 20px;
  padding: 0;
  margin: 0 5px 0 0;
}

/* other-info2 */
.other-info2 {
  display: flex;
  flex-direction: column;
  background-color: #ef334010;
  text-align: center;
  padding: 64px 20px 64px 20px;
  width: 100%;
}

.other-info2-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.other-info2-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.other-info2-content img {
  width: 100%;
  filter: grayscale(100%);
}

.other-info2-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.other-info2-text span {
  text-align: start;
  font-family: Rubik;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 50px;
}

.other-info2-text a {
  text-decoration: none;
}

.other-info2-text .btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  background-color: #ef3340;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  width: max-content;
}

.other-info2-text .btn img {
  width: 20px;
  padding: 0;
  margin: 0 5px 0 0;
}

/* PROJECTS */
.projects {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.projects h2 {
  text-align: center;
  padding-bottom: 50px;
}

.project-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 50px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.project h3 {
  text-align: start;
  margin-bottom: 20px;
  width: 100%;
  font-size: 2rem;
  font-weight: lighter;
}

.project-text {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: left;
}

.project img {
  width: 50%;
  height: auto;
  filter: grayscale(100%);
}

.project-text p {
  font-size: 1rem;
  line-height: 1.5;
}

.project-link {
  display: block;
  margin-top: 10px;
  color: black;
}

.project-link:hover {
  text-decoration: underline;
}

/* PROVEEDORES */
.proveedores {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px 0;
}

.proveedores h2 {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 0 27px;
}

.proveedores-container {
  display: table-row;
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 20px;
}

.proveedores-container td {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 10px;
}

.proveedores-container img {
  width: 100%;
  max-width: 120px;
  height: auto;
  transition: transform 0.3s ease-in-out;
  display: block;
}

/* Efecto hover */
.proveedores-container a:hover img {
  transform: scale(1.1);
}

/* Hacer que las celdas sean scrollables */
.proveedores-table {
  /* overflow-x: auto;
  display: block;
  white-space: nowrap; */
}

/* FOOTER */
.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  padding-top: 30px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer h5 {
  font-family: Arial;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  margin-top: 20px;
}

.footer span,
.footer a {
  color: white;
  font-family: Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}

.footer-content td {
  display: flex;
  flex-direction: column;
}

.footer-logo-and-contact {
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-logo-and-contact img {
  width: 134px;
}

/* .links {
  color: white;
  display: flex;
  flex-direction: column;
}

#logoFooter {
  width: 60%;
  height: auto;
  margin-bottom: 20px;
} */

.redes-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.redes-container img {
  filter: invert(1);
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 50px 50px;
}

.legal-links {
  display: flex;
  gap: 50px;
}

/* TABLETS */
@media (min-width: 480px) and (max-width: 1024px) {
  /* banner */
  .banner td {
    display: flex;
  }

  .banner a {
    margin-left: 10px;
  }

  /* header */
  .header {
    /* height: 900px; */
    /* display: flex;
    justify-content: center; */
  }

  .header-content {
    /* width: 100%;
    padding: 0 70px 0 70px; */
    /* width: 857px; */
    /* margin-bottom: 200px; */
    /* top: 0; */
    /* padding-left: 60px;
padding-right: 60px; */
  }

  .header h1 {
    /* padding-left: 60px;
padding-right: 60px; */
  }

  .logos td {
    /* flex-direction: row; */
    gap: 50px;
  }

  .logos img {
    /* width: 30%; */
  }

  /* news */
  .news {
    margin: 0 50px 0 50px;
  }

  .news tr {
    flex-direction: row;
    gap: 20px;
  }

  /* events */
  /* .event {
    width: 60%;
  }

  .events h2 {
    font-size: 48px;
    line-height: 67.2px;
  } */

  .ver-evento .btn {
    margin-bottom: 0;
  }

  /* other info1 */
  .other-info1 {
    padding: 64px 64px 64px 64px;
  }

  .other-info1 h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 64px;
    /* margin: 0 97px 0 97px; */
  }

  .other-info1 img {
    width: 70%;
  }

  /* other info2 */
  .other-info2 {
    padding: 120px 64px, 112px 64px;
  }

  .other-info2-content {
    flex-direction: row;
    gap: 32px;
    margin: 20px;
  }

  .other-info2-img-content {
    display: flex;
  }

  .other-info2-content img {
    width: 100%;
  }

  .other-info2-text {
    width: 250px;
    padding: 32px;
    align-items: start;
  }

  .other-info2-text span {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
  }

  /* proveedores */
  /* proveedores */
  .footer {
    padding: 50px;
    padding-top: 30px;
  }
  .footer-content {
    padding: 48px 0 0 48px;
  }
  .redes-container {
    padding-left: 48px;
  }
}

/* 







*/

/* DESKTOP */
@media (min-width: 1024px) {
  /* banner */
  .banner td {
    display: flex;
  }

  .banner a {
    margin-left: 10px;
  }

  /* header */
  .header {
    /* height: 900px;
    display: flex; */
    /* justify-content: center; */
  }

  .header-content {
    position: relative;
    width: 857px;
    margin-top: 100px;
  }

  .header h1 {
    font-size: 56px;
    line-height: 65px;
    /* padding-left: 280px;
padding-right: 280px; */
  }

  .logos td {
    /* flex-direction: row; */
    gap: 50px;
  }
  /* news */

  .news {
    margin: 0 50px 0 50px;
  }

  .news tr {
    flex-direction: row;
    gap: 50px;
  }

  /* events */
  /* .event {
    width: 60%;
  }

  .events h2 {
    font-size: 48px;
    line-height: 67.2px;
  } */

  .ver-evento .btn {
    margin-bottom: 0;
  }

  /* other info1 */

  .other-info1 h2 {
    padding: 50px 0px 50px 20px;
    text-align: center;
    font-family: Bodoni 72;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 97px 0 97px;
  }

  .other-info1 img {
    width: 50%;
  }

  /* other info2 */
  .other-info2 {
    padding: 120px 64px, 112px 64px;
  }
  .other-info2-table {
    margin: 120px 202px 120px 202px;
  }

  .other-info2-content {
    flex-direction: row;
    gap: 32px;
  }

  .other-info2-content img {
    width: 656px;
  }

  .other-info2-text {
    width: 364px;
    padding: 32px;
    align-items: start;
  }

  /* proveedores */
  .footer {
    padding: 68px;
    padding-top: 30px;
  }
  .footer-content {
    padding: 48px 0 0 48px;
  }
  .redes-container {
    padding-left: 48px;
  }
}
