* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  line-height: 1.5;
}

.header {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/header.png") no-repeat center center/cover;
  filter: grayscale(100%);
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #d9d9d900 0%, #ef3340 100%);
}

/* background: linear-gradient(to bottom, #d9d9d9 20%, #ef3340 100%); */
.header-content {
  position: relative;
  max-width: 50%;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
}

.header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.btnHeader {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 50px;
}

.logos img {
  height: auto;
  object-fit: contain;
}

.summary {
  display: flex;
  flex-direction: column;
}

.summary h2 {
  display: block;
  padding-top: 50px;
  text-align: center;
  font-size: 3rem;
}

.cardsDiv {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background-color: white;
  margin: 50px;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  margin: 10px;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  background-color: #ef3340;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.btn img {
  width: 20px;
  margin: 0 5px 0 0;
}

/* description1 */

.description1 {
  display: flex;
  flex-direction: column;
  background-color: #ef334010;
  text-align: center;
  padding: 50px;
}

.description1 h2 {
  padding: 0 0 50px 0;
  text-align: center;
  font-size: 3rem;
}

.description1Content {
  display: flex;
}

.description1Content img {
  width: 70%;
  filter: grayscale(100%);
  padding: 0 50px 0 50px;
}

.description1Content p {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 50px 50px 0px;
}

.description1Text {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el texto y el botón a la izquierda */
  padding: 0 20px 20px 20px;
}

/* description2 */
.projects {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.projects h2 {
  text-align: center;
  padding-bottom: 50px;
}

.project-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 50px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.project h3 {
  text-align: start;
  margin-bottom: 20px;
  width: 100%;
  font-size: 2rem;
  font-weight: lighter;
}

.project-text {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: left;
}

.project img {
  width: 50%;
  height: auto;
  filter: grayscale(100%);
}

.project-text p {
  font-size: 1rem;
  line-height: 1.5;
}

.project-link {
  display: block;
  margin-top: 10px;
  color: black;
}

.project-link:hover {
  text-decoration: underline;
}

/* events */

.events {
  background-color: #ef334010;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.events h2 {
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 3rem;
}

.events-container {
  display: flex;
  gap: 50px;
  padding: 50px;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  padding-bottom: 20px;
}

.event img {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.date-and-location {
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.date-and-location img {
  display: flex;
  width: 20px;
}

.date,
.location {
  display: flex;
  align-items: center;
  gap: 5px;
}

.event h3 {
  margin: 10px 20px 0px 20px;
  font-size: 1.5rem;
  font-weight: lighter;
}
.event p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0px 20px 0px 20px;
}

.view-event {
  display: flex;
  color: black;
  margin: 20px 20px 0px 20px;
}

.view-event img {
  width: 20px;
  margin: 0 5px 0 0;
  align-items: center;
  object-fit: contain;
}

/* resaltado borde color rojo */
.event {
  border: 2px solid transparent; /* Borde por defecto */
  transition: border-color 0.3s ease; /* Transición suave */
}

.event:hover {
  border-color: #ef3340; /* Cambia el borde a ef334010 al pasar el ratón */
}

.events .btn {
  margin-top: 50px;
  width: max-content;
}

.description2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.description2 h2 {
  padding: 50px 0 50px 0;
  text-align: center;
  font-size: 3rem;
}

.description2-container {
  display: flex;
  gap: 50px;
  width: 50%;
}

.description2 img {
  width: 50%;
  filter: grayscale(100%);
}

.description2-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px 20px 20px;
}

/* proveedores */
.proveedores {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 50px 0;
}

.proveedores-container {
  padding: 50px 0 50px 0;
  gap: 50px;
  display: flex;
  justify-content: center;
}

.proveedores-container img {
  width: 10%;
  filter: grayscale(100%);
}

/* footer */
.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.footer h5 {
  font-size: 1rem;
}

.footer span {
  margin-bottom: 20px;
}

.footer-logo-and-contact {
  color: white;
  display: flex;
  flex-direction: column;
}

.links {
  color: white;
  display: flex;
  flex-direction: column;
}

#logoFooter {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.redes-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.redes-container img {
  filter: invert(1);
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.footer a {
  color: white;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}

.legal-links {
  display: flex;
  gap: 50px;
}
