* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

body {
  font-family: "Rubik", sans-serif;
}

/* Estilos base (mobile-first) - para móviles */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  color: black;
  padding: 10px;
}

.banner a {
  color: black;
}

.header {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/header.png") no-repeat center center/cover;
  filter: grayscale(100%);
}

.header-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #d9d9d900 10%, #ef3340 100%);
}

.header-content {
  position: relative;
  max-width: 60%;
  top: 40%;
}

.header h1 {
  padding-top: 50px;
  font-size: 2rem;
  font-weight: bold;
}

.header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.btnHeader {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.logos img {
  width: 50%;
  height: auto;
  object-fit: contain;
}

/* NEWS */
.news {
  display: flex;
  flex-direction: column;
}

.news h2 {
  padding-top: 50px;
  text-align: center;
  font-size: 2rem;
}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 100px 100px 100px;
  background-color: white;
  gap: 20px;
}

.news-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.news-item img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  aspect-ratio: 1/1;
  object-fit: cover;
}

.news-image-container {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.triangle-logo-red {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 60%;
  background: linear-gradient(to top left, #ef3340 0%, #ffffff00 100%);
  clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
  /* display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; */
}

.triangle-logo-red img {
  position: absolute;
  width: 50%;
  height: auto;
  aspect-ratio: 0;
  bottom: 15%;
  right: 5%;
  filter: none;
}

.news-item a {
  margin: 10px;
  color: black;
}

/* EVENTS */

.events {
  background-color: #ef334010;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.events h2 {
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 2rem;
}

.events-container {
  display: flex;
  gap: 50px;
  padding-top: 50px;
  justify-content: center;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  padding-bottom: 20px;
  width: 100%;
}

.event-img-container {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.event-img-container img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
}

.event-img-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(217, 217, 217, 0) 10%, #ef3340 100%);
}

.category {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  color: black;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  padding: 5px 10px;
}

.date-and-location {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.date-and-location img {
  display: flex;
  width: 20px;
  height: 20px;
}

.date,
.location {
  display: flex;
  gap: 5px;
}

.event h3 {
  padding: 0px 20px 0px 20px;
  font-size: 1.5rem;
  width: 100%;
}
.event p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0px 20px 0px 20px;
}

.view-event {
  display: flex;
  color: black;
  margin: 20px 20px 0px 20px;
}

.view-event img {
  width: 20px;
  margin: 0 5px 0 0;
  align-items: center;
  object-fit: contain;
}

.event {
  border: 2px solid transparent;
  transition: border-color 0.3s ease; /* Transición suave */
}

.event:hover {
  border-color: #ef3340; /* Cambia el borde a ef334010 al pasar el ratón */
}

.ver-evento {
  display: block;
  align-items: start;
  width: 100%;
}

.events .btn {
  margin-top: 50px;
  width: max-content;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  background-color: #ef3340;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.btn img {
  width: 20px;
  margin: 0 5px 0 0;
}

/* OTHER INFO 1 */
.other-info1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.other-info1 h2 {
  padding: 50px 0 50px 0;
  text-align: center;
  font-size: 2rem;
  width: 100%;
}

.other-info1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px;
}

.other-info1 img {
  width: 100%;
  padding: 0 20px 0 20px;
  /* filter: grayscale(100%); */
}

.other-info1-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.other-info1-text a {
  text-decoration: none;
}

.other-info1-text .btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  background-color: #ef3340;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  width: max-content;
}

.other-info1-text .btn img {
  width: 20px;
  padding: 0;
  margin: 0 5px 0 0;
}

/* other-info2 */
.other-info2 {
  display: flex;
  flex-direction: column;
  background-color: #ef334010;
  text-align: center;
  padding: 30px;
}

.other-info2 h2 {
  padding: 50px;
  text-align: center;
  font-size: 3rem;
}

.other-info2-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.other-info2-content img {
  width: 100%;
  filter: grayscale(100%);
}

.other-info2-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0 20px 0;
}

.other-info2-text span {
  text-align: justify;
  padding-bottom: 20px;
}

.other-info2-text a {
  text-decoration: none;
}

.other-info2-text .btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  background-color: #ef3340;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  width: max-content;
}

.other-info2-text .btn img {
  width: 20px;
  padding: 0;
  margin: 0 5px 0 0;
}

/* PROJECTS */
.projects {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.projects h2 {
  text-align: center;
  padding-bottom: 50px;
}

.project-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 50px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.project h3 {
  text-align: start;
  margin-bottom: 20px;
  width: 100%;
  font-size: 2rem;
  font-weight: lighter;
}

.project-text {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: left;
}

.project img {
  width: 50%;
  height: auto;
  filter: grayscale(100%);
}

.project-text p {
  font-size: 1rem;
  line-height: 1.5;
}

.project-link {
  display: block;
  margin-top: 10px;
  color: black;
}

.project-link:hover {
  text-decoration: underline;
}

/* PROVEEDORES */
/* .proveedores {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 50px 0;
}

.proveedores-container {
  padding: 50px 0 50px 0;
  gap: 50px;
  display: flex;
  justify-content: center;
}

.proveedores-container img {
  width: 20%;
} */

.proveedores {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px 0;
  width: 100%;
  overflow: hidden;
}

/* carrusel horizontal sin barra de desplazamiento ni botones */
.proveedores-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  white-space: nowrap;
  width: 80%;
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

/* Ocultar scrollbar en Webkit (Chrome, Safari) */
.proveedores-container::-webkit-scrollbar {
  display: none;
}

.proveedores-container img {
  width: 120%;
  scroll-snap-align: center;
  transition: transform 0.3s ease-in-out;
}

/* Efecto de escala al hacer hover */
.proveedores-container img:hover {
  transform: scale(1.1);
}

/* FOOTER */
.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.footer h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
}

.footer span,
.footer a {
  margin-top: 10px;
  font-weight: lighter;
  color: white;
}

.footer-logo-and-contact {
  color: white;
  display: flex;
  flex-direction: column;
}

.links {
  color: white;
  display: flex;
  flex-direction: column;
}

#logoFooter {
  width: 60%;
  height: auto;
  margin-bottom: 20px;
}

.redes-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.redes-container img {
  filter: invert(1);
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 50px 50px;
}

.legal-links {
  display: flex;
  gap: 50px;
}

/* TABLETS */
@media (min-width: 480px) and (max-width: 1024px) {
  /* banner */
  .banner {
    flex-direction: row;
    gap: 10px;
  }

  /* header */
  .header {
    height: auto;
  }

  .header h1 {
    font-size: 3rem;
  }

  .logos {
    flex-direction: row;
  }
  .logos img {
    width: 30%;
  }

  /* news */
  .news-content {
    flex-direction: row;
  }

  /* events */
  .event {
    width: 50%;
  }

  /* other info1 */
  .other-info1 img {
    width: 70%;
  }

  /* other info2 */
  .other-info2-content {
    flex-direction: row;
  }

  .other-info2-content img {
    width: 70%;
    height: 70%;
    padding: 0 10px 0 10px;
  }

  /* proveedores */
  .proveedores-container img {
    width: 100%;
  }
}

/* 







 */

/* DESKTOP */
@media (min-width: 1024px) {
  /* banner */
  .banner {
    flex-direction: row;
    gap: 10px;
  }

  /* header */
  .header {
    height: auto;
    justify-content: center;
  }

  .header h1 {
    font-size: 3rem;
  }

  .logos {
    width: 100%;
    flex-direction: row;
  }
  .logos img {
    width: 20%;
  }

  /* news */
  .news h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 3rem;
  }

  .news-content {
    flex-direction: row;
    gap: 50px;
  }

  /* events */
  .event {
    width: 50%;
  }

  /* other info1 */
  .other-info1 img {
    width: 50%;
  }

  /* other info2 */
  .other-info2 {
    padding: 50px;
  }
  .other-info2-content {
    flex-direction: row;
    align-items: center;
  }

  .other-info2-content img {
    width: 60%;
    padding: 50px;
    padding-left: 100px;
  }

  .other-info2-text {
    width: 50%;
    align-items: start;
  }
  .other-info2-text span {
    padding-right: 100px;
  }

  /* proveedores */
  .proveedores-container img {
    width: 100%;
  }
}
